/* ==================
   ==================
        RESET
   ==================
   ================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ==================
   ==================
        DEBUG
   ==================
   ================== */
.debug {
    background-color: black;
    color: lime;
    border: 1px solid lime;
}

/* ==================
   ==================
        UTILIES
   ==================
   ================== */
.d-block {
    display: block;
}

.d-flex{
    display: flex;
}

/* ==================
   ==================
        STYLE
   ==================
   ================== */
.container {
    max-width: 43.75rem;
    margin: auto;
    padding: 1.875rem;
}

/* ===================
    CALCOLATORE INPUT
   =================== */
.calcolatore form {
    text-align: center;
    
}

.calcolatore input {
    margin: 0.625rem 0;
}

.calcolatore .input {
    justify-content: space-between;
}

/* ===========================
    CALCOLATORE INPUT-BUTTONS
   =========================== */
.calcolatore .input-buttons {
    text-align: center;
    margin-top: 1.875rem;
}

