/* ==================
   ==================
        RESET
   ==================
   ================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
}
/* ==================
   ==================
        DEBUG
   ==================
   ================== */
.debug {
    background-color: black;
    color: lime;
    border: 1px solid lime;
}

/* ==================
   ==================
        UTILIES
   ==================
   ================== */
.d-block {
    display: block;
}

.d-flex{
    display: flex;
}

.row {
    display: flex;
}

/* ==================
   ==================
        STYLE
   ==================
   ================== */
.container {
    max-width: 62.5rem;
    margin: auto;
    padding: 1.875rem;
}

/* ===================
    CALCOLATORE INPUT
   =================== */
.calcolatore form {
    text-align: center;
    
}

.calcolatore input {
    margin: 0.625rem 0;
}

.calcolatore .input {
    justify-content: space-between;
}

/* ===========================
    CALCOLATORE INPUT-BUTTONS
   =========================== */
.calcolatore .input-buttons {
    text-align: center;
    margin-top: 1.875rem;
}

/* ======================
        BIGLIETTO
   ====================== */
.biglietto {
    margin: 1.25rem;
}

.biglietto .row {
    border-top: 1px solid limegreen;
    border-bottom: 1px solid limegreen;
}

.biglietto .col-nome {
    background-color: grey;
    width: 40%;
    height: 12.5rem;
    padding: 0.625rem;
}

.biglietto .col-info {
    padding: 0.625rem;
    width: calc(100% / 4);
}

